body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  background: #f7f7f7;
  margin: 20px;
  color: #333;
}

label {
  font-weight: bold;
  margin-right: 10px;
  color: #666;
}

select {
  padding: 15px;
  border-radius: 10px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: box-shadow 0.3s ease;
}

select:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  outline: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  transition: opacity 0.3s ease;
}

.wrapper:hover {
  opacity: 0.9;
}

#date,
#time {
  font-size: 36px;
  font-weight: bold;
  margin: 20px;
  color: #444;
}

#date {
  color: #34c759;
}

#time {
  color: #2196f3;
}
